md-content{
  background: url(https://subtlepatterns.com/patterns/stardust.png);
}
body {
  background: url(https://subtlepatterns.com/patterns/stardust.png);
}
.selected{
  background-color: rgba(255,255,255, 0.2);
}
.share{
  font-family: monospace;
}

md-card.ng-enter {
  animation: fadeInRight .5s;
}

md-card.ng-leave {
  animation: fadeOutRight .5s;
}